

li, a, button {
  font-family: "Monstserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
 
}

li, a{
  color:green;
  font-size: 20px;
  font-family: cursive;
  
}
li{
  margin-top: 20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-radius: 50px;
  background-color: yellow;
  height: 70px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
}

.logo{
  width: 70px;
  height: 70px;
  

}

.navlinks{
  list-style: none;
  
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a{
  transition: all 0.3s ease 0s ;
}
.navlinks li a:hover{
  color: white ;
}

button{
  padding: 9px 25px;
  background-color: green;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s ;
  font-family: cursive;
}
button:hover{
  background-color: white;
}



